:root {
  --slate-blue: #6753BFff;
  --brown-sugar: #A9644Fff;
  --smoky-black: #0E0301ff;
  --bistre: #281D0Dff;
  --fandango: #AA4693ff;
}

body {
  margin: 0;
  background-color: lightpink;
  font-family: 'Courier New', Courier, monospace;
}

@media only screen and (max-width: 1000px) {
  #logo {
    font-size: 25px;
    font-weight: bold;
  }
  p {
    font-size: 20px;
  }
  ul {
    font-size: 15px;
  }
}

body:has(dialog[open]) {
  overflow-y: hidden;
}

#taustakuva {
  width: auto;
  margin-left: 80px;
  margin-right: 80px;
  height: 300px;
  background-color: #ffc88f;
  background-image: url(/viikko1/kuvat/banner.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-attachment: unset;
  display: flex;
  align-items: center;
}

#banner_text {
  width: 50%;
  text-align: center;
  backdrop-filter: blur(2.5px);
  padding: 0;
}

@media only screen and (max-width: 750px){
  #taustakuva {
    height: 150px;
  }
  #banner_text {
    font-size: 20px;
  }
}

ul {
  list-style-type: none;
  margin-left: 80px;
  margin-right: 80px;
  padding: 0;
  overflow: hidden;
  background-color: var(--bistre);
  font-family: 'Courier New', Courier, monospace;
  margin-top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: var(--bistre);
  color: var(--fandango);
}

.logo {
  color: var(--fandango);
  background-color: var(--bistre);
  font-size: 20px;
  font-weight: bold;
}

.lisaa {
  margin-left: 80px;
}

#menu_section {
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu_title {
  width: 150px;
  font-weight: bold;
  font-size: 1.5rem;
}

#button_section {
  display: flex;
  justify-content: center;
  align-items: center;
}

#drink_options {
  margin: 5px;
}

.grid {;
  grid-template-rows: 1fr 1fr;
  display: grid;
  margin: 80px;
}

.griditem {
  text-align: center;
  border: 5px solid #AA4693;
}

.grid1 {
  background-color: whitesmoke;
  border-radius: 25px;
  margin-right: 40px;
  grid-row: 1 / 3;
  height: auto;
}

.grid2 {
  background-color: whitesmoke;
  border-radius: 25px;
  margin-left: 40px;
  grid-row: 1 / 3;
  height: auto;
}

main {
  background-color: gainsboro;
  margin: 80px;
  margin-top: 120px;
  padding: 40px;
  padding-bottom: 120px;
  position: relative;
  /*background-image: url("funky.jpg");*/
}

/*.teksti {
  background-color: rgba(175, 159, 168, 0.7);
}*/

.ravintola {
  width: 300px;
  height: auto;
  float: left;
  margin: 20px;
}

@media only screen and (max-width: 750px) {
  .ravintola {
    float: none;
    max-width: 100%;
    width: 300px;
    height: 200px;
    object-fit: cover;
  }
}

.cocktail {
  width: 200px;
  height: 200px;
  position: absolute;
  top: -80px;
  right: -40px;
  margin-left: 10px;
}

@media only screen and (max-width: 1000px) {
  .cocktail {
    float: right;
  }
}

footer {
  text-align: center;
  background-color: var(--bistre);
  color: white;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}



